$icon-font-path: "/fonts/bootstrap/";

@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

.header {
  background: black;
  color: white;
  margin-bottom: 1em;

  img {
    width: 50%;
    margin-left: -8.5%;  /* The place in the pic where the Y comes up, adjusted to its own height */
    padding: 0.2em;
  }

  span {
    font-size: 10vw;
    font-weight: bold;
    vertical-align: middle;
    margin-left: -0.3em;
  }

  small {
    font-weight: 100;
    padding-top: 8vw;
    vertical-align: middle;
    display: inline-block;
    font-size: 3vw;
    margin-left: 0.4em;
    text-transform: uppercase;
  }

  @media screen and (min-width: 1200px) {
    span {
      font-size: 120px;
    }
  }
}

.loading {
  text-align: center;

  .fa {
    font-size: 13em;
    padding: 0.3em
  }

  .silliness {
    font-size: 2em;
  }
}
