$icon-font-path: "/fonts/bootstrap/";

@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body {
  overflow-y: scroll;  /* avoids reflows because of scrollbar showing up */
}

a {
  cursor: pointer;
  text-decoration: none !important;
}

.header {
  background: black;
  color: white;
  margin-bottom: 1em;

  img {
    width: 50%;
    margin-left: -8.5%;  /* The place in the pic where the Y comes up, adjusted to its own height */
    padding: 0.2em;
    height: auto;
  }

  span {
    font-size: 10vw;
    font-weight: bold;
    vertical-align: middle;
    margin-left: -0.3em;
  }

  small {
    font-weight: 100;
    padding-top: 8vw;
    vertical-align: middle;
    display: inline-block;
    font-size: 3vw;
    margin-left: 0.4em;
    text-transform: uppercase;
  }

  /* Because BS containers have a max-width
   * we need to stop these fonts from growing
   * relative to screen width
   */
  @media screen and (min-width: 1200px) {
    span {
      font-size: 1200px * 0.1;
    }
    small {
      font-size: 1200px * 0.03;
      padding-top: 1200px * 0.08;
    }
  }

  .side {
    position: absolute;
    right: 1em;
    top: 1em;

    a {
      display: block;

      .fa {
        font-size: 5vw;
        color: white;
        @media screen and (min-width: 1200px) {
          & {
            font-size: 1200px * 0.05;
          }
        }
      }
    }
  }
}

.input-group-addon {
  background-color: white;
}

.btn-primary {
  padding: 8px 12px;
  background-color: black;
  color: white;
  border: none;

  &:active,
  &:active:focus,
  &:focus,
  &:hover {
    background-color: #333;
    border: none;
  }
}

.main-inputs {
  margin-bottom: 10px;
}

.results {
  a {
    color: #333;
  }

  .fa {
    margin: 0 7px;
    font-size: larger;
  }

  .loading {
    text-align: center;
    min-height: 500px;

    .fa {
      font-size: 13em;
      padding: 0.3em
    }

    .silliness {
      font-size: 2em;
    }
  }

  .list-group-item {
    padding: 0;

    &:hover {
      -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

      .fa-share {
        display: block;
      }

      a {
        color: #111;
      }
    }

    a {
      display: block;
      padding: 10px 15px;
    }
  }
  .panel {
    border: 1px solid #efefef;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);

    .fa-share {
      display: none;
      position: absolute;
      right: 1.4em;
      top: 1.4em;
    }
  }
}

.subscribe {
  position: fixed;
  bottom: 20px;
  right: 20px;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
